<div class="col-lg-3 col-md-4 col-sm-6 text-center">
	<a href="{{include.member.url}}" target="_blank">
		<img
		src="{{include.member.img | default: '/assets/img/team/placeholder.png'}}"
		style="border-radius: 100%; height: 150px; width: 150px;"
		alt="{{include.member.name}}"
		/>
	</a>

	<div class="card-body">
		<h5><a href="{{include.member.url}}" target="_blank">{{include.member.name}}</a></h5>
		<h6>{{include.member.title}}</h6>
		<p class="text-muted"><em>{{include.member.interests}}</em></p>

		{% for project in site.projects %}
		  {% for person in project.team %}
		    {% if include.member.name == person %}
		      <a href="{{project.url}}">{{ project.title}}</a>
		    {% endif %}
		  {% endfor %}
		{% endfor %}

	</div>
</div>
